In [3]:
import pandas as pd
import yfinance as yf

In [4]:
# 데이터 다운로드
df_yahoo = yf.download('AAPL',
                      start = '2000-01-01',
                      end = '2010-12-31',
                      progress=False)

In [5]:
df_yahoo

                 Open       High        Low      Close  Adj Close     Volume
Date
1999-12-31   0.901228   0.918527   0.888393   0.917969   0.790705  163811200
2000-01-03   0.936384   1.004464   0.907924   0.999442   0.860883  535796800
2000-01-04   0.966518   0.987723   0.903460   0.915179   0.788302  512377600
2000-01-05   0.926339   0.987165   0.919643   0.928571   0.799837  778321600
2000-01-06   0.947545   0.955357   0.848214   0.848214   0.730621  767972800
...               ...        ...        ...        ...        ...        ...
2010-12-23  11.607143  11.612500  11.541786  11.557143   9.954899  223157200
2010-12-27  11.530357  11.622857  11.482857  11.595714   9.988124  249816000
2010-12-28  11.639643  11.666429  11.609286  11.623929  10.012430  175924000
2010-12-29  11.650714  11.658929  11.610714  11.617500  10.006890  163139200
2010-12-30  11.624286  11.625357  11.537500  11.559286   9.956747  157494400

[2767 rows x 6 columns]